.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  z-index: 3;
}
#logo {
  width: 10rem;
  margin-left: 9rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.header > ul {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  border-radius: 2rem;
  background-size: cover;
}
.header > ul > li {
  margin-right: 2rem;
  margin-left: 2rem;
  list-style-type: none;
  width: min-content;
}
.header > ul > li > a {
  text-decoration: none;
  color: #fff;
  animation: glow 2s ease-in-out infinite alternate;

  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;

  text-overflow: clip;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #0f2629;
  }
  to {
    text-shadow: 0 0 30px orange, 0 0 10px orange;
  }
}
.header > ul > li > a:hover {
  color: orange;
}

.active {
  margin: 0;
  z-index: 1;
  font-family: "Teko", sans-serif;
  color: #6cf78a !important;

  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #0f2629;
  }
  to {
    text-shadow: 0 0 30px orange, 0 0 10px orange;
  }
}

@media screen and (max-width: 692px) {
  .header > ul > li > a {
  }
  .header > ul {
    margin-right: 0;
  }
}
@media screen and (max-width: 807px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .header > ul {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  #logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 370px) {
  .header {
    width: fit-content;
  }
  .header > ul {
    margin-right: 0;
  }
}

@media screen and (max-width: 938px) {
  .header > ul > li > a {
    font-size: 2rem;
  }
}
